/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#app-wrapper {
    width: 100%;
    height: 100vh;
}

main {
    height: calc(100% - 90px);
    width: 100%;
    overflow: hidden;
}

/* MAIN NAV */
.main-nav {
    float: left;
    width: 230px;
    height: 100%;
    min-height: 400px;
    background-color: black;
    font-size: 14px;
}

.main-nav li {
    list-style-type: none;
}

/* Logo */
.logo {
    height: 90px;
    width: 70%;
    padding-top: 20px;
    padding-left: 10px;
}

.logo-small {
    width: 25px;
    display: none;
}

/* Nav actions */
.nav-actions {
    height: 120px; 
    color: #a3a3a3;
    font-weight: 400;
}

.nav-actions ul li:first-child {
    border-left: 3px solid #adff2f;
}

.nav-actions ul li:first-child span {
    color: white;
}

.nav-actions .action:hover {
    color: white;
}

.nav-actions img {
    height: 25px;
}

.action {
    margin-left: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.action-text {
    margin-left: 10px;
}

/* Playlist */
.nav-playlists {
    /* fa sì che non sbordi nel div user */
    overflow: hidden;
    color: #999;
    height: calc(100% - 270px);
    margin-left: 20px;
}

.nav-playlists h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
}

.create-playlist {
    display: flex;
    margin-bottom: 8px;
    font-weight: 600;
}

.create-playlist i {
    font-size: 40px;
}

.create-playlist span {
    font-size: 15px;
    line-height: 40px;
    margin-left: 10px;
}

.nav-playlists ul {
    height: 70%;
    overflow-y: auto;
}

.nav-playlists ul li {
    font-weight: 500;
    margin-bottom: 8px;
}

.create-playlist:hover,
.nav-playlists li:hover {
    color: white;
}

/* User */
.user {
    height: 60px;
    margin-left: 20px;
}

.user-install {
    display: flex;
    font-size: 13px;
    color: #999;
    width: 90%;
    padding-bottom: 8px;
}

.user-install:hover {
    color: white;
}

.user-install img {
    width: 16px;
}

.user-install span {
    margin-left: 10px;
}

.user-profile {
    display: flex;
    padding-top: 5px;
    border-top: 1px solid #999;
}

.user-profile .profile-circle {
    height: 25px;
    width: 25px;
    background-color: #a3a3a3;
    border-radius: 50%;
    background-image: url("../img/profile.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.user-profile h3 {
    color: white;
    margin-left: 10px;
}
/* END MAIN NAV */

/* Upgrade bar */
.upgrade-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 230px);
    height: 90px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: fixed;
    top: 0;
    right: 0;
}

.upgrade-bar a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color:white;
    border: 2px solid white;
    border-radius: 50px;
    padding: 15px 35px;
    margin-right: 20px;
}

.upgrade-bar a:hover {
    transform: scale(1.15);
}

/* Main content */
.main-content {
    float: left;
    width: calc(100% - 230px);
    height: 100%;
    padding-top: 110px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #141922;
    color: white;
    overflow-y: auto;
}

.main-content section {
    margin-top: 30px;
}

.menu-container {
    width: 70%;
    margin: 0 auto;
}

.main-menu ul {
    list-style-type: none;
    margin-bottom: 3px;
}

.main-menu li {
    display: inline-block;
}

.main-menu a {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #7a7d81;
    margin: 0 10px;
}

.main-menu a:hover {
    color: white;
}

.main-menu .green-line {
    width: 30px;
    margin-left: 40px;
    border-top: 2px solid #adff2f;
}

/* MAIN CONTENT */
/* Recently played */
.album-row h2 {
    margin-bottom: 20px;
}

.albums {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.album {
    float: left;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc((100% / 6) - 10px);
}

.cover-container {
    position: relative;
    margin-bottom: 10px;
}

.cover-container img {
    max-width: 100%;
}

.cover-layover {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.cover-layover i {
    display: none;
    font-size: 65px;
}

.cover-container:hover .cover-layover,
.cover-container:hover i {
    display: flex;
}

.album-text {
    text-align: center;
}

.album-text h4 {
    margin-bottom: 10px;
}

.album-text .subtitle {
    font-size: 14px;
    font-weight: 600;
    color: #797c80;
}

/* Created - Popoular */
#created .albums,
#popoular .albums {
    justify-content: flex-start;
    gap: 10px;
}

#created p,
#popoular p {
    font-size: 12px;
    font-weight: 500;
    color: #797c80;
    margin-bottom: 30px;
}

#popoular .cover-container img,
#popoular .cover-container .cover-layover {
    border-radius: 50%;
}

/* END MAIN */

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    overflow: hidden;
    background-color: #282828;
}

/* Footer left */
.footer-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.footer-left img {
    height: 50px;
}

.footer-left .track {
    margin-left: 10px;
}

.artist {
    font-size: 13px;
    font-weight: 600;
    color: white;
}

.track-title {
    font-size: 12px;
    font-weight: 600;
    color: #747474;
}

.track-title:hover {
    color: white;
    text-decoration: underline;
}

.like-folder {
    color: #747474;
    margin-left: 40px;
}

.like-folder i {
    padding-left: 8px;
}

.like-folder i:hover {
    color: white;
}

/* Footer player */
.footer-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 60px;
    width: 35%;
}

.player-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    height: 50%;
    width: 50%;
    margin: auto;
}

.fa-play-circle {
    font-size: 35px;
}

.player-buttons .fa-play-circle:hover {
    transform: scale(1.10);
}

.player-buttons i {
    color: white;
}

.player-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    color: white;
}

.play-line {
    height: 4px;
    width: 80%;
    background-color: #5a5a5a;
    border-radius: 5px;
}

.line-fill {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    height: 4px;
    background-color: #c1c1c1;
    border-radius: 5px;
}

.line-dot {
    display: none;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

.play-line:hover > .line-fill {
    background-color: #b7f74f;
}

.play-line:hover .line-dot {
    display: inline-block;
}

/* Footer right */
.footer-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 15%;
    color: white;
    margin-right: 10px;
}

.footer-right i {
    font-size: 12px;
    margin: 0 8px;
}

.volume-line {
    height: 4px;
    width: 60%;
    background-color: #5a5a5a;
    border-radius: 5px;
    margin-left: 5px;
}

.volume-line:hover > .line-fill {
    background-color: #adff2f;
}

.volume-line:hover .line-dot {
    display: inline-block;
}

/* END FOOTER */

/* Media Query */
@media screen and (max-width: 419px) {
    .main-nav {
        width: 50px;
    }

    .main-content {
        width: calc(100% - 50px);
    }

    .upgrade-bar {
        width: calc(100% - 50px);
    }

    .upgrade-bar a {
        font-size: 12px;
        font-weight: 500;
        padding: 15px 10px;
        margin-right: 5px;    
    }

    .logo-small {
        display: inline-block;
    }

    .logo-full {
        display: none;
    }

    .nav-actions ul li:first-child {
        border-left: 0 solid;
    }

    .nav-actions span {
        display: none;
    }

    .nav-playlists h3,
    .nav-playlists .create-playlist,
    .nav-playlists ul {
        display: none;
    }

    .user-install span,
    .user-profile h3 {
        display: none;
    }

    .user-profile {
        border-top: 0 solid;
    }
}
