/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
  
a {
    text-decoration: none;
}
  
body a:hover {
    color: white;
}

main {
    height: 90vh;
    background-color: black;
}

.grey {
    color: #A3A3A3;
}
  
.white {
    color: white;
}


footer {
    height: 10vh;
    background-color: hsl(0deg 0% 16%);
}

aside {
    float: left;
}