/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Commons */
body {
    background-color: black;
    color: white;
    font: 'Montserrat';
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
  
a {
    text-decoration: none;
}
  
body a:hover {
    color: white;
}

main {
    height: 90vh;
    background-color: black;
}

.upper-bar {
    height: 10%;
}

.logo {
    max-width: 100%;
}

.grey {
    color: #A3A3A3;
}
  
.white {
    color: white;
}

img {
    max-width: 100%;
}

footer {
    height: 10vh;
    background-color: hsl(0deg 0% 16%);
}

aside {
    float: left;
}

.upper-bar {
    height: 10%;
}

.update {
    border-radius: 50%;
}

.col {
    
}

.col-left {

}